header{
	background-color:red;
	border-color:yellow;
	border-style:hidden solid hidden hidden;
	width: 400px;
	height: 200px;
	border-width:70px;
	padding:10px;
	
}
h1{
	border-color:yellow;
	border-style:solid;
	border-width:2px;
	margin:10px;
}
header>p{
	color:white;
	margin:10px;
	border:hidden;
	padding:30px;
	
}
nav{
	border-style:solid;
	margin-left:200px;
}
main{
	background-color:grey;
	border-style:hidden;
	padding-left:200px;
}
th{
	background-color:yellow;
	border-style:hidden hidden solid hidden;
	border-color:green;
	border-width:5px;
	


